h1{
	text-align: center;
	font-size:50px;
	color: #448277;
}
th{
	text-align: center;
}
.btn, .btn-large, .btn-small{
	background-color: #51b099;
}
table{
	background-color: #93cfc1;
	margin-bottom: 2%;
}
body{
	background-color: #82d1c3;
}
th, td{
	font-size: 18px;
}
form{
	margin-left: 15%;
	margin-right: 15%;
}
button,a{
	margin-right: 2%;
	margin-top: 2%;
}
.btn-delete{
	background-color: #fc4444;
}
.btn-delete:hover{
	background-color: #ff3030;
}
label{
	font-size: 15px;
	color:#448277;
}
h2{
	text-align: center;
	margin-top: 10%;
}
